<!DOCTYPE html>
<!-- ToDo: appcache, manifest in service-worker.js-->
<html lang="eng" ng-app="myApp" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="Matching game, you can play it with your friends">   
        <title>Matching</title>

        <!--ToDo: need to add some useful css-->
        <link rel="stylesheet" type="text/css" href="css/game.css">
        <link crossorigin="anonymous" rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.css">
        
        <!--Loading code to resize gameArea according to some chosen width-to-height ratio.
        In Matching, the ratio is 1 (i.e., width/height = 1)-->
        <!-- ToDo: build:js js/everything.min.js -->
        <script src="lib/angular.js"></script>
        <script src="lib/turnBasedServices.3.js"></script>
        <script>
             angular.module('myApp', ['gameServices']).run(function () { resizeGameAreaService.setWidthToHeight(0.8); });
        </script>
        
    </head>

    <body>
        <div id="gameArea">
            <div id="gameMenu" style="position: absolute; top: 0%; width: 100%; height: 10%">
                <div class="center">
                <div class="div-inline1" ng-if="!game.isPassAndPlay()" ng-class="{currentPlayer: (game.isCurrentPlayerIndex(0) && game.isMyTurn()) || (game.isCurrentPlayerIndex(1) && !game.isMyTurn())}">{{ game.getName() | translate }}: {{game.state.scores[0]}}</div> 
                <div class="div-inline1 currentPlayer" ng-if="game.isPassAndPlay()">{{ 'YOUR_SCORE' | translate }}: {{game.state.scores[0]+game.state.scores[1]}}/{{game.getHighestScore()}}</div>
                <div class="div-inline2">&nbsp;&nbsp;{{'LEFT_TURNS' | translate}} : {{20-game.state.current_turn}}&nbsp;&nbsp;</div> 
                <div class="div-inline3" ng-if="!game.isPassAndPlay()" ng-class="{currentPlayer: (game.isCurrentPlayerIndex(1) && game.isMyTurn()) || (game.isCurrentPlayerIndex(0) && !game.isMyTurn())}">{{ game.getOppoName() | translate }}: {{game.state.scores[1]}}</div> 
                <div class="div-inline3" ng-if="game.isPassAndPlay()" >{{ 'HIGHEST_SCORE' | translate }}: {{game.getHighestScoreGlobally()}}</div>
                <div style="clear:both"></div>
                </div>
            </div>
            <!--the 8 * 8 game grid-->
            <div style="position: absolute; top: 10%; width: 90%; height: 72%; margin-left: 5%"  >
                <!--the 1st row with 8 columns-->
                <div class="gameRow" style="position: absolute; top: 0%; width: 100%; height: 12.5%">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 12.5%; height: 100%" >
                        <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(71, 209, 71); stroke-width:1.5px; stroke:grey"/>
                        </svg>
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 12.5%; width: 12.5%; height: 100%">
                        <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(51, 204, 255); stroke-width:1.5px; stroke:grey"/>
                        </svg>
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 25%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 37.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 50%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 62.5%; width: 12.5%; height: 100%">
                    </div>     
                    <div class="gameBox" Style="position: absolute; left: 75%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 87.5%; width: 12.5%; height: 100%">
                    </div>               
                </div>
                <!--the 2nd row with 8 columns-->
                <div class="gameRow" style="position: absolute; top: 12.5%; width: 100%; height: 12.5%">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 12.5%; height: 100%">
                        <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(255, 128, 170); stroke-width:1.5px; stroke:grey"/>
                        </svg>
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 12.5%; width: 12.5%; height: 100%">
                        <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(246, 246, 85); stroke-width:1.5px; stroke:grey"/>
                        </svg>
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 25%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 37.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 50%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 62.5%; width: 12.5%; height: 100%">
                    </div>     
                    <div class="gameBox" Style="position: absolute; left: 75%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 87.5%; width: 12.5%; height: 100%">
                    </div>   
                </div>
                <!--the 3rd row with 8 columns-->
                <div class="gameRow" style="position: absolute; top: 25%; width: 100%; height: 12.5%">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 12.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 25%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 37.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 50%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 62.5%; width: 12.5%; height: 100%">
                    </div>     
                    <div class="gameBox" Style="position: absolute; left: 75%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 87.5%; width: 12.5%; height: 100%">
                    </div>         
                </div>
                <!--the 4th row with 8 columns-->
                <div class="gameRow" style="position: absolute; top: 37.5%; width: 100%; height: 12.5%">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 12.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 25%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 37.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 50%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 62.5%; width: 12.5%; height: 100%">
                    </div>     
                    <div class="gameBox" Style="position: absolute; left: 75%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 87.5%; width: 12.5%; height: 100%">
                    </div>   
                </div>
                <!--the 5th row with 8 columns-->
                <div class="gameRow" style="position: absolute; top: 50%; width: 100%; height: 12.5%">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 12.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 25%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 37.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 50%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 62.5%; width: 12.5%; height: 100%">
                    </div>     
                    <div class="gameBox" Style="position: absolute; left: 75%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 87.5%; width: 12.5%; height: 100%">
                    </div>     
                </div>
                <!--the 6th row with 8 columns-->
                <div class="gameRow" style="position: absolute; top: 62.5%; width: 100%; height: 12.5%">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 12.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 25%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 37.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 50%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 62.5%; width: 12.5%; height: 100%">
                    </div>     
                    <div class="gameBox" Style="position: absolute; left: 75%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 87.5%; width: 12.5%; height: 100%">
                    </div>   
                </div>
                <!--the 7th row with 8 columns-->
                <div class="gameRow" style="position: absolute; top: 75%; width: 100%; height: 12.5%">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 12.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 25%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 37.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 50%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 62.5%; width: 12.5%; height: 100%">
                    </div>     
                    <div class="gameBox" Style="position: absolute; left: 75%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 87.5%; width: 12.5%; height: 100%">
                    </div>   
                </div>
                <!--the 8th row with 8 columns-->
                <div class="gameRow" style="position: absolute; top: 87.5%; width: 100%; height: 12.5%">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 12.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 25%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 37.5%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 50%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 62.5%; width: 12.5%; height: 100%">
                    </div>     
                    <div class="gameBox" Style="position: absolute; left: 75%; width: 12.5%; height: 100%">
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 87.5%; width: 12.5%; height: 100%">
                    </div>   
                </div>
            </div>

            <!--the 3 prepare boxes to be put into the game board-->
            <div id="gamePrepare" style="position: absolute; top: 83%; width: 90%; height:8%; margin-left: 5%">
                <div class="rowBox" Style="position: absolute; left: 0%; width: 33%; height: 100%">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 33.3%; height: 100%">
                        <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(255, 128, 170); stroke-width:1.5px; stroke:grey"/>
                        </svg>
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 33.3%; width: 33.3%; height: 100%">
                         <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(51, 204, 255); stroke-width:1.5px; stroke:grey"/>
                        </svg>                       
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 66.3%; width: 33.3%; height: 100%">
                         <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(246, 246, 85); stroke-width:1.5px; stroke:grey"/>
                        </svg>                       
                    </div>
                </div>
                <div class="rowBox" Style="position: absolute; left: 33.5%; width: 33%; height: 100%;">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 33.3%; height: 100%">
                        <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(71, 209, 71); stroke-width:1.5px; stroke:grey"/>
                        </svg>
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 33.3%; width: 33.3%; height: 100%">
                        <!--<svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(71, 209, 71); stroke-width:1.5px; stroke:grey"/>
                        </svg> -->
                        <img src="img/star.png">                       
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 66.3%; width: 33.3%; height: 100%">
                        <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(246, 246, 85); stroke-width:1.5px; stroke:grey"/>
                        </svg>                            
                    </div>                   
                </div>
                <div class="rowBox" Style="position: absolute; left: 67%; width: 33.3%; height: 100%;">
                    <div class="gameBox" Style="position: absolute; left: 0%; width: 33.3%; height: 100%">
                        <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(246, 246, 85); stroke-width:1.5px; stroke:grey"/>
                        </svg>
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 33.3%; width: 33.3%; height: 100%">
                         <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(255, 128, 170); stroke-width:1.5px; stroke:grey"/>
                        </svg>                       
                    </div>
                    <div class="gameBox" Style="position: absolute; left: 66.3%; width: 33.3%; height: 100%">
                         <svg width="100%" height="100%">
                            <rect rx="10%" ry="10%" width="100%" height="100%" style="fill:rgb(51, 204, 255); stroke-width:1.5px; stroke:grey"/>
                        </svg>                       
                    </div>                    
                </div>
            </div>

            <!--the operation menu of the game with the helper-->
            <div id="gameHelper" style="position: absolute; top: 92%; width: 90%; height:8%; margin-left: 5%">
                <button type="button" class="start" ng-click="game.isHelpModalShown = false" aria-label="start"><span aria-hidden="true">start</span></button>
            </div>
        </div>
    </body>
</html>